# Loops


    FOR loop
    While loop

In [1]:
simple_list=[0,1,2,3,4,5,67,8,987,90]
print(simple_list)

[0, 1, 2, 3, 4, 5, 67, 8, 987, 90]

In [6]:
for i in simple_list:
    print(i)

0
1
2
3
4
5
67
8
987
90

In [7]:
for i in simple_list[1:5]:
    for j in simple_list[5:9]:
        print(i*j)

5
67
8
987
10
134
16
1974
15
201
24
2961
20
268
32
3948

In [8]:
# Looping over a range of values
print(range(6))

range(0, 6)

In [10]:
for i in range(6):
    print(i)

0
1
2
3
4
5

In [11]:
# range with starting and end value
for i in range(4,10):
    print(i)

4
5
6
7
8
9

In [12]:
# Range with increment of 2
for i in range(4,20,2):
    print(i)

4
6
8
10
12
14
16
18

In [3]:
#Printing square from 1 to 10 using a for loop

In [18]:
x=[1,2,3,4,5,6,7,8,9,10]
for i in x:
    print('Square of {} is {}'.format(i,i*i))

Square of 1 is 1
Square of 2 is 4
Square of 3 is 9
Square of 4 is 16
Square of 5 is 25
Square of 6 is 36
Square of 7 is 49
Square of 8 is 64
Square of 9 is 81
Square of 10 is 100

In [17]:
#f'' can be used instead of a .format
x=range(11)
for i in x:
    print(f'Square of {i} is {i*i}')

Square of 0 is 0
Square of 1 is 1
Square of 2 is 4
Square of 3 is 9
Square of 4 is 16
Square of 5 is 25
Square of 6 is 36
Square of 7 is 49
Square of 8 is 64
Square of 9 is 81
Square of 10 is 100

### Using IF-ELSE with for Loop

In [21]:
#Printing squares of even numbers from 1 to 100
x=range(101)
for i in x:
    if i%2==0:
        print(f'Square of even number {i} is {i*i}')

Square of even number 0 is 0
Square of even number 2 is 4
Square of even number 4 is 16
Square of even number 6 is 36
Square of even number 8 is 64
Square of even number 10 is 100
Square of even number 12 is 144
Square of even number 14 is 196
Square of even number 16 is 256
Square of even number 18 is 324
Square of even number 20 is 400
Square of even number 22 is 484
Square of even number 24 is 576
Square of even number 26 is 676
Square of even number 28 is 784
Square of even number 30 is 900
Square of even number 32 is 1024
Square of even number 34 is 1156
Square of even number 36 is 1296
Square of even number 38 is 1444
Square of even number 40 is 1600
Square of even number 42 is 1764
Square of even number 44 is 1936
Square of even number 46 is 2116
Square of even number 48 is 2304
Square of even number 50 is 2500
Square of even number 52 is 2704
Square of even number 54 is 2916
Square of even number 56 is 3136
Square of even number 58 is 3364
Square of even number 60 is 3600
Square of even number 62 is 3844
Square of even number 64 is 4096
Square of even number 66 is 4356
Square of even number 68 is 4624
Square of even number 70 is 4900
Square of even number 72 is 5184
Square of even number 74 is 5476
Square of even number 76 is 5776
Square of even number 78 is 6084
Square of even number 80 is 6400
Square of even number 82 is 6724
Square of even number 84 is 7056
Square of even number 86 is 7396
Square of even number 88 is 7744
Square of even number 90 is 8100
Square of even number 92 is 8464
Square of even number 94 is 8836
Square of even number 96 is 9216
Square of even number 98 is 9604
Square of even number 100 is 10000

In [22]:
#Printing squares of odd numbers from 1 to 100
x=range(101)
for i in x:
    if i%2==1:
        print(f'Square of odd number {i} is {i*i}')

Square of odd number 1 is 1
Square of odd number 3 is 9
Square of odd number 5 is 25
Square of odd number 7 is 49
Square of odd number 9 is 81
Square of odd number 11 is 121
Square of odd number 13 is 169
Square of odd number 15 is 225
Square of odd number 17 is 289
Square of odd number 19 is 361
Square of odd number 21 is 441
Square of odd number 23 is 529
Square of odd number 25 is 625
Square of odd number 27 is 729
Square of odd number 29 is 841
Square of odd number 31 is 961
Square of odd number 33 is 1089
Square of odd number 35 is 1225
Square of odd number 37 is 1369
Square of odd number 39 is 1521
Square of odd number 41 is 1681
Square of odd number 43 is 1849
Square of odd number 45 is 2025
Square of odd number 47 is 2209
Square of odd number 49 is 2401
Square of odd number 51 is 2601
Square of odd number 53 is 2809
Square of odd number 55 is 3025
Square of odd number 57 is 3249
Square of odd number 59 is 3481
Square of odd number 61 is 3721
Square of odd number 63 is 3969
Square of odd number 65 is 4225
Square of odd number 67 is 4489
Square of odd number 69 is 4761
Square of odd number 71 is 5041
Square of odd number 73 is 5329
Square of odd number 75 is 5625
Square of odd number 77 is 5929
Square of odd number 79 is 6241
Square of odd number 81 is 6561
Square of odd number 83 is 6889
Square of odd number 85 is 7225
Square of odd number 87 is 7569
Square of odd number 89 is 7921
Square of odd number 91 is 8281
Square of odd number 93 is 8649
Square of odd number 95 is 9025
Square of odd number 97 is 9409
Square of odd number 99 is 9801

## While Loop

In [23]:
i=5
while i<10:
    print(i)
    i=i+1

5
6
7
8
9

In [1]:
#Printing square from 1 to 10
i=0
while i<=10:
    print(f'Square of {i} is {i*i}')
    i=i+1

Square of 0 is 0
Square of 1 is 1
Square of 2 is 4
Square of 3 is 9
Square of 4 is 16
Square of 5 is 25
Square of 6 is 36
Square of 7 is 49
Square of 8 is 64
Square of 9 is 81
Square of 10 is 100

### Using IF-ELSE with `while` Loop

In [3]:
#Printing squares of even numbers from 1 to 100
i=0
while i<101:
    if i%2==0:
        print(f'Square of even number {i} is {i*i}')
    i=i+1

Square of even number 0 is 0
Square of even number 2 is 4
Square of even number 4 is 16
Square of even number 6 is 36
Square of even number 8 is 64
Square of even number 10 is 100
Square of even number 12 is 144
Square of even number 14 is 196
Square of even number 16 is 256
Square of even number 18 is 324
Square of even number 20 is 400
Square of even number 22 is 484
Square of even number 24 is 576
Square of even number 26 is 676
Square of even number 28 is 784
Square of even number 30 is 900
Square of even number 32 is 1024
Square of even number 34 is 1156
Square of even number 36 is 1296
Square of even number 38 is 1444
Square of even number 40 is 1600
Square of even number 42 is 1764
Square of even number 44 is 1936
Square of even number 46 is 2116
Square of even number 48 is 2304
Square of even number 50 is 2500
Square of even number 52 is 2704
Square of even number 54 is 2916
Square of even number 56 is 3136
Square of even number 58 is 3364
Square of even number 60 is 3600
Square of even number 62 is 3844
Square of even number 64 is 4096
Square of even number 66 is 4356
Square of even number 68 is 4624
Square of even number 70 is 4900
Square of even number 72 is 5184
Square of even number 74 is 5476
Square of even number 76 is 5776
Square of even number 78 is 6084
Square of even number 80 is 6400
Square of even number 82 is 6724
Square of even number 84 is 7056
Square of even number 86 is 7396
Square of even number 88 is 7744
Square of even number 90 is 8100
Square of even number 92 is 8464
Square of even number 94 is 8836
Square of even number 96 is 9216
Square of even number 98 is 9604
Square of even number 100 is 10000

In [ ]:
# while loop for access permission
while True:
    user_id=input('enter a user name ')
    password=int(input('enter password '))
    if user_id=='abcd' and password==1234:
        print('Login success')
    else:
        print('Login Failed')

enter a user name abcd
enter password 1234
Login success
enter a user name defg
enter password 1234
Login Failed

## You gotta use your python skills to help your local shopkeeper calculate the Net Price for his shop's product provided below along with it's respective GST slab

GST Amount = ( Original Cost * GST ) / 100

Net Price = Original Cost + GST Amount

Product Cost / GST Slab

Product1- 1000 / 18%

Product2- 250 / 18%

Product3- 125 / 5%

Product4- 345 / 18%

Product5- 820 / 12%

Product6- 980 / 5%

Product7- 500 / 12%

In [4]:
# Hint Create a dictionary and loop

In [1]:
product_gst_slabs={'Product1':18,'Product2':18,'Product3':5,'Product4':18,'Product5':12,'Product6':5,'Product7':12}
product_original_cost={'Product1':1000,'Product2':250,'Product3':125,'Product4':345,'Product5':820,'Product6':980,'Product7':500}

In [2]:
product_gst_slabs.keys()

dict_keys(['Product1', 'Product2', 'Product3', 'Product4', 'Product5', 'Product6', 'Product7'])

In [6]:
for i in product_gst_slabs.keys():
    gst_amount=(product_original_cost[i]*product_gst_slabs[i])/100
    Net_price=(product_original_cost[i]+gst_amount)
    print('The net price of {} at gst {}% is {}' .format(i,product_gst_slabs[i],Net_price))

The net price of Product1 at gst 18% is 1180.0
The net price of Product2 at gst 18% is 295.0
The net price of Product3 at gst 5% is 131.25
The net price of Product4 at gst 18% is 407.1
The net price of Product5 at gst 12% is 918.4
The net price of Product6 at gst 5% is 1029.0
The net price of Product7 at gst 12% is 560.0

# User defined functions

In [ ]:
# # define a function that takes an input, squares it, adds 7, then returns the answer

In [1]:
def x2p7(x):
    y=x*x
    z=y+7
    return(z)

In [3]:
x2p7(7)

56

In [ ]:
# Write a function to add and subtract two variables

In [9]:
def math_fun(x,y):
    add= x+y
    sub=x-y
    return add,sub

In [10]:
math_fun(6,4)

(10, 2)

In [18]:
def evenodd(x):
    if x%2==0:
        print('even number')
    else:
        print('odd number')

In [13]:
evenodd(5)

odd number

In [8]:
### Write a UDF that returns true if the input is a prime number and False otherwise.

In [19]:
def prime(n):
    if (n==1):
        return False
    elif (n==2):
        return True
    else:
        for x in range(2,n):
            if (n%x==0):
                return False
            return True

In [21]:
prime(7)

True

In [20]:
### Write a UDF that takes a list as input and returns the reverse list.

In [ ]:
def reversing(listing):
    listing.reverse()
    return lst

In [ ]:
lst=[657,8,12,23,87,45]

In [22]:
# lambda function
lamx2p7=lambda x: x*x+7
print(lamx2p7(3))

16

In [23]:
lam1=lambda x,y,z: x*y+y*z+y/z
print(lam1(3,6,12))

90.5

In [24]:
lam1(4,8,76)

640.1052631578947